*.DS_Store
*.swp
*.pyc
version.py
build/
data/
docs/src/
docs/html/
encoding/_ext/
encoding.egg-info/
*.o
*.so
*.ninja*
build
dist
torch_*
experiments/segmentation/make_docker/model_best.pth.tar
experiments/segmentation/make_docker/resnest269-51ae5f19.*
model_best.pth.tar
resnest269-51ae5f19.*